.button
  border-radius: 6px
  border: 3px solid #000
  height: 50px
  width: 70px
  margin: 20px auto
  display: flex
  &.warning
    border-color: #FF5F58
    color: #FF5F58
  &.success
    border-color: #2AC940
    color: #2AC940
  &.primary
    border-color: #3399FF
    color: #3399FF
.text
  margin: auto
  text-align: center
