.card
  font-family: sans-serif
  border-radius: 6px
  border: 3px solid #3399FF
  height: 200px
  width: 50%
  margin: 0 auto
  color: #3399FF
  display: flex
.text
  margin: auto
  text-align: center

@media (max-width: 700px)
  .card
    font-family: sans-serif
    border-radius: 6px
    border: 3px solid #3399FF
    height: 150px
    width: 90%
    margin: 0 auto
    color: #3399FF
    display: flex
